.Layout{
    width: 100%;
    background-color: aqua;
    text-align: center;
}
.Layout content{
    background-color:aliceblue;
    display: flex;
    justify-content: center;
    height: calc(100vh - 50px)
}

footer{
    display: flex;
    justify-content: center;
}